/*===============================================*/
/*Main Styles                                    */
/*===============================================*/

html {
  font: normal 16px Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}


h1 {
  text-align: center;
  color: #999;
  font-size: 2rem;
  margin: 20px 0;
}

div {
  padding: 25px 0;
  border-bottom: 2px solid #999;
}


/*===============================================*/
/*User Info Styles                               */
/*===============================================*/

form {
  max-width: 700px;
  background: #2c363d;
  margin: 40px auto;
  border-radius: 7px;
}

fieldset {
  padding: 20px 20px 0 20px;
  color: #999;
}


label {
  display: block;
  padding: 5px;
  margin: 0 auto;
  width: 80%;
}

input,
select,
textarea {
  display: block;
  margin: 0 auto 15px auto;
  border: 1px solid #cecece;
  border-radius: 4px;
  font: normal 14px Helvetica, Arial, sans-serif;
}

input {
  width: 80%;
  padding: 10px;
}

select {
  width: 83.5%;
  height: 40px;
  padding: 10px;
}


/*===============================================*/
/*User Preference  Styles                         /
/*===============================================*/

.user_interest {
  height: 110px;
}

/*===============================================
/*Comments Styles                                */
/*===============================================*/

textarea {
  width: 80%;
  padding: 10px;
}

/*===============================================*/
/*Buttons Styles                                    */
/*===============================================*/
.button {
  width: 80%;
  border: none;
  margin: 0 auto;
  text-align: center;
}

.button input {
  display: inline-block;
  width: 49%;
  padding: 15px;
  margin: 0;
  font: normal 14px Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  background: #738e73;
}

.button input:hover {
  background: #cecece ;
}